html,
body {
    margin: 0;
}

body {
    background-color: #d1d102;
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: pixelated;
    color: white;
    overflow: hidden;
}

#card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: red;
    max-width: 80vw;
}

#code-text {
    padding: 20px;
    text-align: center;
    font: bold 1.3em sans-serif;
    border-radius: 10px;
}

#ean {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}